/* universal style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* common style */
.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-heading {
    text-align: center;
    max-width: 525px;
    margin: 0 auto;
}

.section-heading h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}

p {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;

}

button {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 28px;
    border: 0;
    transition: all 1s;
}

button:hover {
    background: #f13961;
}

/* header */
header, #hot-deal {
    background: #e554731a;
}

/* banner */


.banner {
    display: flex;
    align-items: center;
}

.banner .banner-text h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 525px;
}

.banner .banner-img img {
    width: 100%;
    vertical-align: middle;
}

/* header end */
main section {
    margin-top: 130px;
}

/* featured start */
#featured .section-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

#featured .section-content .flower .flower-img {
    background-color: #E55473;
    border-radius: 300px 300px 0 0;
    padding: 30px 25px 0;
    height: 500px;
    display: flex;
    align-items: end;

}

#featured .section-content .flower .flower-img img {
    width: 100%;
}

#featured .section-content .flower .pink {
    background: rgba(167, 33, 98, 0.15);
}

#featured .section-content .flower .blue {
    background: rgba(5, 151, 160, 0.15);
}

#featured .section-content .flower .gray {
    background: rgba(71, 125, 17, 0.15);
}

#featured .section-content .flower p {
    margin-top: 16px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* about start */
#about .about-container {
    border-radius: 8px;
    background: #2727270d;
}

.service-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 85px 150px;
}

.service-container .service * {
    margin-bottom: 20px;
}

/* hot deal */

#hot-deal .hot-deal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hot-deal .hot-deal-container .hot-deal-text {
    width: 75%;
    max-width: 550px;
    text-align: center;
}

#hot-deal .hot-deal-container .hot-deal-text * {
    margin-bottom: 24px;
}

#hot-deal .hot-deal-container .hot-deal-text h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

#hot-deal .hot-deal-container .hot-deal-text span {
    color: #E55473;
}

#hot-deal .hot-deal-container .hot-deal-img img {
    width: 100%;
}
/* newsletter */

.newsletter-container{
    background-image: url('../Flower-Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    padding: 122px 0;
}
#newsletter form{
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}
#newsletter form input{
    flex-grow: 1;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
    outline: none;
}
/* footer */
footer {
    margin-top: 130px;
    padding: 120px 0;
    background-color: black;
    color: white;
    text-align: center;
}

.footer-text {
    max-width: 75%;
    max-width: 470px;
    margin: 0 auto;
}

.footer-text h2 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer-text h2 span {
    color: #E55473;
}
.footer-text p{
    color: white;
}

.footer-text .copyright {
    margin-top: 32px;
    color: #ffffff66;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}